/vendor
/storage
/bootstrap
/tests
.bowerrc
.DS_Store
.env.examples
.project
.env
.env.examples
.settings
.tags
.tags_sorted_by_file
artisan
bower.json
composer.json
composer.lock
gulpfile.js
package.json
phpspec.yml
phpunit.xml
readme.md
server.php

Homestead.yaml
Homestead.json